body {
    background-image: url("../img/af.jpg");
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 450px;
    height: 300px;
    background-color: #3983ff;
    margin: 100px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #2432FF;
    border-radius: 15px 15px 15px 15px;
}

.form-elem {
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius:4px;
    padding-left:10px;
    border-bottom-color: #1b20ff;
    background-color: snow ;
}

.dws-submit {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #1b20ff;
    cursor: pointer;
}

.dws-submit:hover {
    transition: all 0.5s ;
    background: #5965FF ;
    color: #fff;
}

.clock {
    margin: 50px auto 0 auto;
    background-color: #3983ff;
    text-align: center;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    font-size: 14pt;
    box-shadow: 0 -5px 0 #2432FF;
}


.val_msg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    color: white;

}
/*.reg_pass_err {*/
    /*color: black;*/
/*}*/
